@model VidPaynes.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<ul>
    <li><strong>Name: </strong>@Model.Name</li>
    <li><strong>Genre </strong>@Model.Genre.Name</li>
    <li><strong>Date of Release: </strong>@Model.DateReleased.Value.ToShortDateString()</li>
    @if (Model.Stock <= 0)
    {
        <li>No More Available</li>
    }
    else
    {
        <li><strong>Stock Level: </strong>@Model.Stock</li>
    }
</ul>

