@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron home-jb">
 
    <h1>VidPaynes</h1>
    <p class="lead">Welcome to My ASP.NET App VidPaynes, A example of a Video Store management system built in ASP.NET MVC.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            Feel free to Register as User to view and add customers and movies and add new rental records. 
        </p>
        <p><a class="btn btn-default" href="/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>External Logins</h2>
        <p>Want to Login with your Facebook Account? No Problem! We have you covered</p>
        <p><a class="btn btn-default" href="/Account/Login">Log in &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Code-First</h2>
        <p>The Databse hosting these records is built with the Entity Framework using a Code-First Workflow</p>
        <p><a class="btn btn-default" href="https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application">Learn more &raquo;</a></p>
    </div>
</div>